{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    {% if comments %}
        <h5>Comment section</h5>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Content</th>
                <th scope="col">Author</th>
                <th scope="col">Email</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                {% include 'comment/show.html.twig' %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
